<section class="relative py-20 overflow-hidden bg-[#faf8f5]">
  <div class="max-w-7xl mx-auto px-6 mb-12">
    <span class="text-xs uppercase tracking-[4px] text-[#7c8b6b]"> Where to next? </span>

    <h2 class="text-4xl md:text-5xl font-bold mt-3">
      Browse by
      <span class="italic font-light"> Destinations </span>
    </h2>
  </div>

  <div class="slider-wrapper" dir="ltr">
    <div class="slider-track">
      <!-- ORIGINAL -->

      <a class="destination-card">
        <img src="/assets/images/aust.png" />
        <div class="overlay">
          <span>Region</span>
          <h3>Australia</h3>
        </div>
      </a>

      <a class="destination-card">
        <img src="/assets/images/asia.png" />
        <div class="overlay">
          <span>Region</span>
          <h3>Asia Pacific</h3>
        </div>
      </a>

      <a class="destination-card">
        <img src="/assets/images/europ.png" />
        <div class="overlay">
          <span>Region</span>
          <h3>Europe</h3>
        </div>
      </a>

      <a class="destination-card">
        <img src="/assets/images/ameraca.png" />
        <div class="overlay">
          <span>Region</span>
          <h3>Americas</h3>
        </div>
      </a>

      <!-- DUPLICATE -->

      <a class="destination-card">
        <img src="/assets/images/aust.png" />
        <div class="overlay">
          <span>Region</span>
          <h3>Australia</h3>
        </div>
      </a>
      <a class="destination-card">
        <img src="/assets/images/asia.png" />
        <div class="overlay">
          <span>Region</span>
          <h3>Asia Pacific</h3>
        </div>
      </a>

      <a class="destination-card">
        <img src="/assets/images/europ.png" />
        <div class="overlay">
          <span>Region</span>
          <h3>Europe</h3>
        </div>
      </a>

      <a class="destination-card">
        <img src="/assets/images/ameraca.png" />
        <div class="overlay">
          <span>Region</span>
          <h3>Americas</h3>
        </div>
      </a>
    </div>
  </div>
</section>
