/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@keyframes floatIn {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.96);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.slide-animate {
  animation: floatIn 0.9s ease-out both;
}
